## Observations and Insights

In [2]:
# Dependencies and Setup
%matplotlib widget
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
# Merge two dataframes using an outer join
mouse_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview
mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Checking the number of mice.
# The unique method shows every element of the series that appears only once
unique = mouse_df["Mouse ID"].unique()
uniqueCount_1 = (len(unique));
uniqueCount_1

249

In [7]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouse_df = mouse_df.groupby(["Mouse ID", "Timepoint"]).size()
DuplicateMouse_df = duplicate_mouse_df.groupby(["Mouse ID", "Timepoint"]).size().reset_index(name="Time")
DuplicateMouse_df.head()

  Mouse ID  Timepoint  Time
0     a203          0     1
1     a203          5     1
2     a203         10     1
3     a203         15     1
4     a203         20     1

In [8]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse_df_2 = mouse_df.groupby(["Mouse ID","Timepoint","Drug Regimen","Sex","Age_months","Weight (g)","Tumor Volume (mm3)","Metastatic Sites" ]).size()
DuplicateMouse_df_2 = duplicate_mouse_df_2.groupby(["Mouse ID","Timepoint","Drug Regimen","Sex","Age_months","Weight (g)","Tumor Volume (mm3)","Metastatic Sites"]).size().reset_index(name="Time")
DuplicateMouse_df_2.head()

,Mouse ID,Timepoint,Drug Regimen,Sex,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites,Time
0,a203,0,Infubinol,Female,20,23,45.000000,0,1
1,a203,5,Infubinol,Female,20,23,48.508468,0,1
2,a203,10,Infubinol,Female,20,23,51.852437,1,1
3,a203,15,Infubinol,Female,20,23,52.777870,1,1
4,a203,20,Infubinol,Female,20,23,55.173336,1,1

In [9]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# DuplicateMouse_df_3 = DuplicateMouse_df[DuplicateMouse_df.Timepoint != 0]
DuplicateMouse_df_3 = DuplicateMouse_df_2.query('Timepoint !=0')
DuplicateMouse_df_3.head()

,Mouse ID,Timepoint,Drug Regimen,Sex,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites,Time
1,a203,5,Infubinol,Female,20,23,48.508468,0,1
2,a203,10,Infubinol,Female,20,23,51.852437,1,1
3,a203,15,Infubinol,Female,20,23,52.777870,1,1
4,a203,20,Infubinol,Female,20,23,55.173336,1,1
5,a203,25,Infubinol,Female,20,23,56.793208,1,1

In [10]:
# Checking the number of mice in the clean DataFrame.
# The unique method shows every element of the series that appears only once
unique_DuplicateMouse_df_3 = DuplicateMouse_df_3["Mouse ID"].unique()
uniqueMouseCount_2 = (len(unique_DuplicateMouse_df_3));
uniqueMouseCount_2

237

## Summary Statistics

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method produces everything in a single groupby function
SummaryStatistics_df = DuplicateMouse_df_3.groupby(["Drug Regimen","Tumor Volume (mm3)"]).describe()
SummaryStatistics_df

                                Timepoint                                    \
                                    count  mean std   min   25%   50%   75%
Drug Regimen Tumor Volume (mm3)
Capomulin    23.343598                1.0  45.0 NaN  45.0  45.0  45.0  45.0
             25.472143                1.0  40.0 NaN  40.0  40.0  40.0  40.0
             28.167397                1.0  40.0 NaN  40.0  40.0  40.0  40.0
             28.328531                1.0  35.0 NaN  35.0  35.0  35.0  35.0
             28.430964                1.0  45.0 NaN  45.0  45.0  45.0  45.0
...                                   ...   ...  ..   ...   ...   ...   ...
Zoniferol    68.498639                1.0  40.0 NaN  40.0  40.0  40.0  40.0
             68.611061                1.0  45.0 NaN  45.0  45.0  45.0  45.0
             70.827796                1.0  45.0 NaN  45.0  45.0  45.0  45.0
             71.108118                1.0  40.0 NaN  40.0  40.0  40.0  40.0
             73.324432                1.0  45.0 NaN  45.0  45.0  45.0  45.0

                                      Age_months        ... Metastatic Sites  \
                                  max      count  mean  ...              75%
Drug Regimen Tumor Volume (mm3)                         ...
Capomulin    23.343598           45.0        1.0   3.0  ...              1.0
             25.472143           40.0        1.0   3.0  ...              1.0
             28.167397           40.0        1.0  16.0  ...              0.0
             28.328531           35.0        1.0   3.0  ...              1.0
             28.430964           45.0        1.0  22.0  ...              1.0
...                               ...        ...   ...  ...              ...
Zoniferol    68.498639           40.0        1.0  12.0  ...              2.0
             68.611061           45.0        1.0   2.0  ...              3.0
             70.827796           45.0        1.0  12.0  ...              2.0
             71.108118           40.0        1.0  20.0  ...              1.0
             73.324432           45.0        1.0  20.0  ...              1.0

                                      Time
                                 max count mean std  min  25%  50%  75%  max
Drug Regimen Tumor Volume (mm3)
Capomulin    23.343598           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             25.472143           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             28.167397           0.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             28.328531           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             28.430964           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
...                              ...   ...  ...  ..  ...  ...  ...  ...  ...
Zoniferol    68.498639           2.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             68.611061           3.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             70.827796           2.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             71.108118           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0
             73.324432           1.0   1.0  1.0 NaN  1.0  1.0  1.0  1.0  1.0

[1643 rows x 40 columns]

## Bar and Pie Charts

In [21]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
BarPieChart_df = DuplicateMouse_df_3.groupby(["Drug Regimen","Mouse ID"]).describe()
BarPieChart_df

                      Timepoint                                            \
                          count  mean        std  min    25%   50%    75%
Drug Regimen Mouse ID
Capomulin    b128           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             b742           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             f966           4.0  12.5   6.454972  5.0   8.75  12.5  16.25
             g288           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             g316           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
...                         ...   ...        ...  ...    ...   ...    ...
Zoniferol    q633           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             s337           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             w140           1.0   5.0        NaN  5.0   5.00   5.0   5.00
             w575           9.0  25.0  13.693064  5.0  15.00  25.0  35.00
             x613           3.0  10.0   5.000000  5.0   7.50  10.0  12.50

                            Age_months        ... Metastatic Sites       Time  \
                        max      count  mean  ...              75%  max count
Drug Regimen Mouse ID                         ...
Capomulin    b128      45.0        9.0   9.0  ...              1.0  2.0   9.0
             b742      45.0        9.0   7.0  ...              0.0  0.0   9.0
             f966      20.0        4.0  16.0  ...              0.0  0.0   4.0
             g288      45.0        9.0   3.0  ...              1.0  1.0   9.0
             g316      45.0        9.0  22.0  ...              2.0  2.0   9.0
...                     ...        ...   ...  ...              ...  ...   ...
Zoniferol    q633      45.0        9.0  12.0  ...              1.0  2.0   9.0
             s337      45.0        9.0  14.0  ...              3.0  4.0   9.0
             w140       5.0        1.0  19.0  ...              0.0  0.0   1.0
             w575      45.0        9.0  16.0  ...              2.0  3.0   9.0
             x613      15.0        3.0   2.0  ...              0.0  0.0   3.0


                      mean  std  min  25%  50%  75%  max
Drug Regimen Mouse ID
Capomulin    b128      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             b742      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             f966      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             g288      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             g316      1.0  0.0  1.0  1.0  1.0  1.0  1.0
...                    ...  ...  ...  ...  ...  ...  ...
Zoniferol    q633      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             s337      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             w140      1.0  NaN  1.0  1.0  1.0  1.0  1.0
             w575      1.0  0.0  1.0  1.0  1.0  1.0  1.0
             x613      1.0  0.0  1.0  1.0  1.0  1.0  1.0

[237 rows x 48 columns]

In [22]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

# Horizontal Y Axis is the range of Timepoints
y_axis = DuplicateMouse_df_3["Timepoint"].unique()
y_axis

# Vertical X Axis is the number of mice in treatment, during that timepoint.
DuplicateMouse_array = DuplicateMouse_df_3.groupby('Timepoint')['Mouse ID'].nunique()
DuplicateMouse_array
# DuplicateMouse_array_df = pd.DataFrame(data=DuplicateMouse_array, index=["row1","row2"], columns=["column1", "column2"])
# DuplicateMouse_array_df
# x_axis = np.arange(len(users))

x_axis = DuplicateMouse_array
plt.bar(x_axis, y_axis, color='r', alpha=0.5, align="center")

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen